@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.custom-scroll {
  overflow-x: auto;
  scrollbar-width: thin; 
  scrollbar-color: #111337 #333; 
}

.custom-scroll::-webkit-scrollbar {
  height: 8px; 
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #111337; 
  border-radius: 10px; 
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #111337; 
  border-radius: 10px; 
}

